/*CENTER IMAGES*/
img {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0px auto;
    border: 2px solid #dddddd;
}

.inline {
    display: inline;
    position: relative;
    top: 6px;
}

/*IMAGE DESCRIPTION*/
figcaption {
    font-size: 80%;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 10px;
}

/* TOC */
.project .name {
    font-weight: 600;
    font-size: 21px;
}
.drawer {
    padding-top: 60px;
    font-size: 14px;
    line-height: 0.5em;
}

/*FOOTER*/
.copyright {
    padding-top:22px;
    border-top: 2px solid rgba(0,0,0,.12);
}

.md-footer-nav {
    background-color: #03a9f4;
}

.md-footer-meta {
    background-color: #036fa6;
}

/*TEXT*/
.article {
    font-size: 16px;
    line-height: 1.4em;
}

/*PAGE WIDTH*/
/*BANNER*/
.bar {
    display: table;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
@media only screen and (min-width: 960px) {
    .header {
        width: 100%
    }
    .drawer .scrollable .wrapper hr {
        width: 48px
    }
}
.project .banner {
    height: 0px;
    padding: 37px 20px 3px 0px;
}

.main {
    max-width: 960px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.backdrop-paper {
    max-width: 960px;
    height: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.admonition {
    margin: 20px -20px 0px;
}

.admonition.tip {
    border-color: rgba(255, 0, 0, 0.4);
    background-color: rgba(255, 131, 131, 0.15);
}


/*HEADERS*/
h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600 !important;
    font-style: normal !important;
    color: #03a9f4 !important;
    font-family: "Fira Sans", "Roboto Slab", "Georgia", Arial, sans-serif;
}

h1 {
    margin-bottom: 0px !important;
}

.md-typeset h1 {
    font-size: 34px;
    padding-bottom:22px;
    border-bottom: 2px solid rgba(0,0,0,.12);
}
.md-typeset h2 {
    font-size: 30px;
}
.md-typeset h3 {
    font-size: 28px;
}
.md-typeset h4 {
    font-size: 25px;
    font-weight: 500 !important;
}
.md-typeset h5 {
    margin-top: 20px;
    margin-bottom: -15px;
    font-size: 20px;
    font-weight: 500 !important;
    text-transform: none;
}
.article .wrapper {
    padding: 70px 20px 92px;
}